#!/bin/bash

# packages.yml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

{{- if (or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.idLike "arch")) }}

{{ if eq .chezmoi.osRelease "arch" }}
CWD=$(pwd)
sudo pacman -S --needed base-devel
git clone https://aur.archlinux.org/paru.git ~/.repos/paru
cd ~/.repos/paru
makepkg -si --noconfirm
cd $CWD
{{ end }}

paru -Syy
{{ range .packages.linux.common }}
paru -S --noconfirm {{ . | quote }}
{{ end }}
{{ range .packages.linux.arch.common }}
paru -S --noconfirm {{ . | quote }}
{{ end }}

{{ if eq .chezmoi.hostname "red" }}
{{ range .packages.linux.arch.laptop }}
paru -S --noconfirm {{ . | quote }}
{{ end }}
{{ else  }}
{{ range .packages.linux.arch.workstation }}
paru -S --noconfirm {{ . | quote }}
{{ end }}
{{ end }}

{{- end }}
