palette = 0=#{{ (index .colors .chezmoi.hostname).base00 }}
palette = 1=#{{ (index .colors .chezmoi.hostname).base08 }}
palette = 2=#{{ (index .colors .chezmoi.hostname).base0B }}
palette = 3=#{{ (index .colors .chezmoi.hostname).base0A }}
palette = 4=#{{ (index .colors .chezmoi.hostname).base0D }}
palette = 5=#{{ (index .colors .chezmoi.hostname).base0E }}
palette = 6=#{{ (index .colors .chezmoi.hostname).base0C }}
palette = 7=#{{ (index .colors .chezmoi.hostname).base05 }}
palette = 8=#{{ (index .colors .chezmoi.hostname).base03 }}
palette = 9=#{{ (index .colors .chezmoi.hostname).base08 }}
palette = 10=#{{ (index .colors .chezmoi.hostname).base0B }}
palette = 11=#{{ (index .colors .chezmoi.hostname).base0A }}
palette = 12=#{{ (index .colors .chezmoi.hostname).base0D }}
palette = 13=#{{ (index .colors .chezmoi.hostname).base0E }}
palette = 14=#{{ (index .colors .chezmoi.hostname).base0C }}
palette = 15=#{{ (index .colors .chezmoi.hostname).base07 }}
background = #{{ (index .colors .chezmoi.hostname).base00 }}
foreground = #{{ (index .colors .chezmoi.hostname).base05 }}
cursor-color = #{{ (index .colors .chezmoi.hostname).base08 }}
cursor-text = #{{ (index .colors .chezmoi.hostname).base00 }}
selection-background = #{{ (index .colors .chezmoi.hostname).base0A }}
selection-foreground = #{{ (index .colors .chezmoi.hostname).base00 }}
