{
    "layer": "top",
    "position": "top",
    "margin-right": 10,
    "margin-left": 10,
    "margin-top": 5,
    "spacing": 5,

    "modules-left": [
        {{ if eq .chezmoi.osRelease.id "chimera" }}
        "sway/workspaces",
        "sway/window",
        {{ else }}
        "hyprland/workspaces",
        "hyprland/window",
        {{ end }}
    ],
    "modules-center": [
        "clock#date",
    ],
    "modules-right": [
        {{ if eq .chezmoi.hostname "red" }}
        "battery",
        {{ end }}
        "wireplumber",
        "disk",
        "memory",
        "cpu",
        "custom/power",
    ],

    "clock#date": {
        "format": "  {:%H:%M   %e %b}", // Icon: calendar-alt
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "today-format": "<b>{}</b>"
    },

    "custom/power": {
        "format": "",
        "tooltip": false,
        "on-click": "wlogout"
    },

    "disk": {
        "format": "  {percentage_used}%",
        "format-alt-click": "click-right",
        "path": "/"
    },

    "hyprland/workspaces": {
        "all-outputs": true,
        "format": "{name}",
        "on-scroll-up": "hyprctl dispatch workspace e+1 1>/dev/null",
        "on-scroll-down": "hyprctl dispatch workspace e-1 1>/dev/null",
        "sort-by-number": true,
        "active-only": false,
    },

    "hyprland/window": {
        "max-length": 100,
        "separate-outputs": true
    },

    "sway/window": {
        "max-length": 25,
        "separate-outputs": true
    },

    "memory": {
        "interval": 30,
        "format": "  {used:0.2f} / {total:0.0f} GB",
        "on-click": "alacritty -e btop"
    },

    "cpu": {
        "interval": 1,
        //"format": " {}%", // Icon: microchip
        "format": " {max_frequency}GHz <span color=\"darkgray\">{usage}%</span>",
        "max-length": 13,
        "min-length": 13
    },

    "wireplumber": {
        "on-click": "pavucontrol",
        "on-click-right": "amixer sset Master toggle 1>/dev/null",
        //on-click: "${wpctl} set-mute @DEFAULT_AUDIO_SINK@ toggle";
        //on-scroll-down: "${wpctl} set-volume -l 1.0 @DEFAULT_AUDIO_SINK@ 0.04+";
        //on-scroll-up: "${wpctl} set-volume -l 1.0 @DEFAULT_AUDIO_SINK@ 0.04-";
        "format": "{icon} {volume}%",
        "format-muted": " ",
        "format-source": "",
        "format-source-muted": "",
        //"format-muted": "<span foreground='#fab387'> </span>",
        //"format-icons": [ "<span foreground='#fab387'></span>" ]
        "format-icons": {
            "headphone": " ",
            "hands-free": " ",
            "headset": " ",
            "phone": " ",
            "portable": " ",
            "car": " ",
            "default": [" ", " ", " "]
        },
    },

    "tray": {
        "icon-size": 15,
        "spacing": 5
    }
}
