* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", " Font Awesome 6 Free,Font Awesome 6 Free Solid";
    {{ if eq .chezmoi.hostname "poseidon" }}
    font-size: 12pt;
    {{ else }}
    font-size: 9pt;
    {{ end }}
    font-weight: 900;
    margin: 0;
    padding: 0;
    transition-property: background-color;
    transition-duration: 0.5s;
}


/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.1em 0.1em 0.1em 0.1em;
}

/* The whole bar */
#waybar {
    /*background: @bg;*/
    background-color: transparent;
    /*color: @light;*/
    {{ if eq .chezmoi.hostname "red" }}
    color: #53676d;
    {{ else }}
    color: #ffffff;
    {{ end }}
    transition-property: background-color;
    transition-duration: 0.5s;
    /*border-top: 8px transparent;*/
    border-radius: 0px;
    margin: 0;
}

/* Each module */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-screenshot_t,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#bluetooth,
#custom-hyprPicker,
#custom-power,
#custom-spotify,
#custom-weather,
#custom-weather.severe,
#custom-weather.sunnyDay,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.default,
#window,
#workspaces {
    padding: 0px 8px;
    {{ if eq .chezmoi.hostname "red" }}
    color: #53676d;
    background-color: #fbf3db;
    {{ else }}
    color: #e5e5e5;
    background-color: #1e1e1e;
    {{ end }}
    border-radius: 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    padding: 0;
    margin: 0;
}

#workspaces button {
    padding: 0 3px;
    border-radius: 20px;
}

#workspaces button.focused {
    color: #fbf3db;
    background-color: #0072d4;;
}
#workspace button.hover {
    background-color: transparent;
}

#workspaces button.urgent {
    color: #fbf3db;
    background-color: #eb4d4b;
}

#window {
    {{ if eq .chezmoi.hostname "red" }}
    color: #53676d;
    {{ else }}
    color: #64727d;
    {{ end }}
}

#waybar.empty #window {
    opacity: 0;
}

#cpu {
    {{ if eq .chezmoi.hostname "red" }}
    background-color: #fbf3db;
    {{ else }}
    color: #fb958b;
    background-color: #1e1e1e;
    {{ end }}
    min-width: 92px;
}

#memory {
    {{ if eq .chezmoi.hostname "red" }}
    background-color: #fbf3db;
    {{ else }}
    color: #ebcb8b;
    background-color: #1e1e1e;
    {{ end }}
}

#custom-power {
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 11px;
    {{ if eq .chezmoi.hostname "red" }}
    color: #fbf3db;
    background-color: #d2212d;
    {{ else }}
    background-color: #1e1e1e;
    {{ end }}
}

#custom-launcher {
    {{ if eq .chezmoi.hostname "red" }}
    color: #0072d4;
    background-color: #fbf3db;
    {{ else }}
    color: #6a92d7;
    background-color: #1e1e1e;
    {{ end }}
    border-radius: 7.5px;
    padding: 0 0px;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #cad3f5;
}

#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay,
#custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    {{ if eq .chezmoi.hostname "red" }}
    color: #53676d;
    {{ else }}
    color: #c8d2e0;
    {{ end }}
}

#battery {
    color: #fbf3db;
    background-color: #ad8900;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #fbf3db;
    background-color: #489100;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#bluetooth {
    color: #707d9d;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #b48ead;
}

#network.disconnected {
    color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 0px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
