asdf https://asdf-vm.com/guide/introduction.html
cg https://www.cgchannel.com/
chat https://chat.carseandwaterman.com
devbox https://www.jetify.com/devbox
devenv https://devenv.sh/
gmail https://gmail.com
git https://git.carseandwaterman.com
gol https://gamingonlinux.com
hrir https://airtable.com/appayGNkn3nSuXkaz/shruimhjdSakUPg2m/tbloLjoZKWJDnLtTc
infini https://akselmo.dev/posts/i-made-my-own-pinetime-watchface/
lisp https://gigamonkeys.com/book/
mail https://mail.hostinger.com
mise https://mise.jdx.dev/dev-tools/comparison-to-asdf.html
phoronix https://phoronix.com
prime https://amazon.co.uk/gp/video/storefront
pwhrtf https://obito.fr/posts/2023/06/true-spatial-audio-on-linux-using-hrtf/
reddit https://reddit.com
roswell https://roswell.github.io/Roswell-as-a-Scripting-Environment.html
rust https://fasterthanli.me/articles/a-half-hour-to-learn-rust
tornado https://vimeo.com/ondemand/snowflaketornado
yt https://youtube.com/feed/subscriptions
cable_01 https://www.printables.com/model/126820-simplest-cable-organizer
cable_02 https://www.printables.com/model/456502-cable-storage-box
cable_03 https://www.printables.com/model/842990-gridfinity-cable-storage
cable_04 https://www.printables.com/model/154307-universal-cable-organizer
cable_05 https://www.printables.com/model/833200-gridfinity-cable-storage
dxvk_dlss https://github.com/jp7677/dxvk-nvapi/issues/254#issuecomment-2629379273
