[main]
dpi-aware = no
font={{ (index .fonts .chezmoi.hostname).monospace.name }}:size={{ (index .fonts .chezmoi.hostname).monospace.size }}:style={{ (index .fonts .chezmoi.hostname).monospace.style }}
pad = 25x25 center

[csd]
border-width = 25

[cursor]
color = {{ (index .colors .chezmoi.hostname).base05 }} {{ (index .colors .chezmoi.hostname).base00 }}

[colors]
#alpha = 0.95
background = {{ (index .colors .chezmoi.hostname).base00 }}
foreground = {{ (index .colors .chezmoi.hostname).base05 }}

regular0 = {{ (index .colors .chezmoi.hostname).base00 }}
regular1 = {{ (index .colors .chezmoi.hostname).base08 }}
regular2 = {{ (index .colors .chezmoi.hostname).base0B }}
regular3 = {{ (index .colors .chezmoi.hostname).base0A }}
regular4 = {{ (index .colors .chezmoi.hostname).base0D }}
regular5 = {{ (index .colors .chezmoi.hostname).base0E }}
regular6 = {{ (index .colors .chezmoi.hostname).base0C }}
regular7 = {{ (index .colors .chezmoi.hostname).base05 }}

bright0 = {{ (index .colors .chezmoi.hostname).base03 }}
bright1 = {{ (index .colors .chezmoi.hostname).base08 }}
bright2 = {{ (index .colors .chezmoi.hostname).base0B }}
bright3 = {{ (index .colors .chezmoi.hostname).base0A }}
bright4 = {{ (index .colors .chezmoi.hostname).base0D }}
bright5 = {{ (index .colors .chezmoi.hostname).base0E }}
bright6 = {{ (index .colors .chezmoi.hostname).base0C }}
bright7 = {{ (index .colors .chezmoi.hostname).base07 }}